
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow read, update: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
      allow delete: if false;
    }

    match /patients/{patientDocId} {
      allow create: if request.auth != null &&
                       request.resource.data.caregiverUid == request.auth.uid;

      allow read: if request.auth != null &&
                     (
                       resource.data.caregiverUid == request.auth.uid ||
                       get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'Medical Doctor'
                     );

      allow update: if request.auth != null &&
                       (
                         (
                           resource.data.caregiverUid == request.auth.uid
                         ) ||
                         (
                           get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'Medical Doctor' &&
                           (resource.data.doctorId == null || resource.data.doctorId == "" || resource.data.doctorId == request.auth.uid) &&
                           request.resource.data.diff(resource.data).affectedKeys().hasOnly(['doctorFeedbackNotes', 'feedbackStatus', 'doctorId', 'doctorName', 'feedbackDateTime'])
                         )
                       );

      allow delete: if request.auth != null &&
                       resource.data.caregiverUid == request.auth.uid;
    }
  }
}
